*{
    margin: 0;
}
html , body{
    height: 100%;
}
.container{
    max-width: 1220px;
    margin: 0 auto;
}
.wrapp{
    max-width: 1440px;
    margin: 0 auto;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.content{
    flex: 1 1 auto;
}
.navbar-body{

    display: flex;
    align-items: center;
    margin-top: 51px;
}
.navbar-text{
    display: flex;
}
.navbar-text  p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
/* identical to box height, or 150% */
/* Gray/500 */
color: #667085;
    padding: 0px 32px;
}
.navbar-login{
    display: flex;  
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}
.navbar-login p{
    padding: 0px 32px;
}
.login{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    /* Gray/500 */
    color: #667085;
}
.sign-up{
    display: flex;
    align-items: center;
/* Text md/Medium */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
/* identical to box height, or 150% */
/* Base/White */
    color: #FFFFFF;
    width: 120px;
    height: 44px;
        background: #7F56D9;
    /* Primary/600 */
    border: 1px solid #7F56D9;
    /* Shadow/xs */
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
}
.sign-up:hover{
    filter: brightness(80%);
}


.header-body{
    display: flex;
    margin-top: 50px;
}
.representation{
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    flex: 1 1 50%;
}
.fun{
    display: flex;
}
.fun h1{
    display: flex;
    align-items: center;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    /* identical to box height, or 38% */
    color: #FF1276;
    transform: rotate(-8.72deg);
    /* Border */
    border: 1px dashed #FF1276;
    border-radius: 12px;
    transform: rotate(-8.72deg);
}
.img4{
    position: absolute;
    width: 83.6px;
    height: 85.99px;
    left: 400.26px;
    top: 240px;
    background: url(.png);
    transform: rotate(15deg);
}
.header-img{
    flex: 1 1 50%;
}
.child{
    position: absolute;
    width: 710px;
    z-index: 1;
}
.vector{
    z-index: 0;
    right: 10px;
    position: absolute;
}
.comfy{
    display: flex;
    align-items: center;
    margin-top: 20px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    line-height: 24px;
    /* identical to box height, or 38% */
    color: #FBA628;
}
.comfy h1{
    padding-left: 35px;
}
.header-text{
    width: 390px;
    text-align: center;
    padding-left: 50px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    /* or 120% */
    color: #959595;
}
.header-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 35px 80px;
    width: 150px;
    background: #FF1276;
    /* Shadow/xs */
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
        font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    /* identical to box height, or 156% */
    /* Base/White */
    color: #FFFFFF;
}
.serch{
    margin-top: 130px;
}
.serch-body{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    background-color: #FF1276;
    border-radius: 50px;
}
.serch-text{
    padding: 20px;
    margin-left: 25px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 24px;
/* identical to box height, or 75% */
color: #FFFFFF;
}
/* serch */
.search-box {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 50px;
    margin: 20px;
    padding: 10px;
  }
  .search-box input[type="text"] {
    flex: 1;
    border: none;
    padding: 5px;
    font-size: 16px;
  }
  .search-box button[type="submit"] {
    background-color: #7F56D9;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    padding: 10px;
    font-size: 12px;
    cursor: pointer;
  }
  /* Hover і Focus стилі */
  .search-box input[type="text"]:hover, 
  .search-box input[type="text"]:focus {
    outline: none;
    box-shadow: none;
    background-color: #fff;
  } 
  .search-box button[type="submit"]:hover {
    background-color: #682fe2;
  }
  .categories-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
  }
  .categories-label{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */ 
    color: #FF1276;
  }
  .categories-title{
    margin-top: 12px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height, or 122% */
    letter-spacing: -0.02em;
    /* Gray/900 */
    color: #101828;
  }
  .categories-text{
    width: 55%;
    margin-top: 20px;
        font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    /* or 150% */
    text-align: center;
    /* Gray/500 */
    color: #667085;
  }
  .categories-row{
    display: flex;
    width: 100%;
    margin-top: 75px;
    justify-content: center;
  }
  .column{
    display: flex;
    flex-direction: column;
    flex: 1 1 20%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    /* Base/White */
    color: #FFFFFF;
  }
  .green{
    background-color: green;
  }
  .btn-dorogan{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100px;
    height: 40px;
    margin-top: 15px;
    border: 1px solid #FFFFFF;
    /* Shadow/xs */
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 52px;
  }
  .img-column{
    border-radius: 25px;
    padding: 10px;
  }
  .red{
    background-color: red;
  }
  .btn-boneka{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100px;
    height: 40px;
    margin-top: 15px;
    border: 1px solid #FFFFFF;
    /* Shadow/xs */
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 52px;
  }
  .blue{
    background-color:  #00AFED;;
  }
  .btn-mobilan{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100px;
    height: 40px;
    margin-top: 15px;
    border: 1px solid #FFFFFF;
    /* Shadow/xs */
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 52px;
  }
  .pink{
    background-color:  #FF1276;
  }
  .btn-puzle{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100px;
    height: 40px;
    margin-top: 15px;
    border: 1px solid #FFFFFF;
    /* Shadow/xs */
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 52px;
  }
  .not-blue{
    background-color:  #35C5BE;
  }
  .btn-popular{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100px;
    height: 40px;
    margin-top: 15px;
    border: 1px solid #FFFFFF;
    /* Shadow/xs */
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 52px;
  }
  .btn-popular:hover{
    filter: brightness(80%);
  }
  .btn-dorogan:hover{
    filter: brightness(80%);
  }
  .btn-boneka:hover{
    filter: brightness(80%);
  }
  .btn-puzle:hover{
    filter: brightness(80%);
  }
  .btn-mobilan:hover{
    filter: brightness(80%);
  }
.shop{
    margin-top: 50px;
    background-image: url(./img/image\ 15.png);
}
.trand-label{
    padding-top: 100px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    color: #FF1276;
}
.trand-title{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height, or 122% */
    letter-spacing: -0.02em;
    /* Gray/900 */
    color: #101828;
}
.trand-description{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #667085;
}
  .shop-btn{
    display: flex;
    justify-content: flex-end;
  }
  .sale-btn, .top-btn,.popular-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 116px;
    height: 36px;
    margin: 20px 25px;
  }
  .sale-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 116px;
    height: 36px;
    /* Shadow/sm */
    box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px rgba(16, 24, 40, 0.06);
    border-radius: 6px;
    background-color: #00AFED;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}
.sale-btn:hover{
  filter: brightness(80%);
}
.top-btn,.popular-btn{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #667085;
}
.shop-row{
  display: flex;
  flex-wrap: wrap;
}
.shop-column{
  display: flex;
  flex-direction: column;
  flex: 1 1 250px;
  width: 250px;
  align-items: center;
  justify-content: center;
  margin: 10px;
  background: #FFFFFF;
  border: 1px solid #C7C7C7;
  border-radius: 8px;
}
.shop-text{
  display: flex;
  flex: 1 1 auto;
  width: 100%;
  height: 96px; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #FAF6F9;
  border: 1px solid #C7C7C7;
  border-radius: 8px;
}
.shop-cost{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #FF1276;
}
.shop-subtitle{
  font-family: 'Inter';
  font-style: normal;
  margin: 17px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}
.offer-title{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 20px;
  margin-top: 45px;
  color: #FF1276;
}
.offer-body{
  display: flex;
}
.offer-img{
  display: flex;
  flex: 1 1 50%;
}
.offer-column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 50%;
}
.offer-row1{
  display: flex;
  width: 467px;
  height: 123px;
  background: #FFF8EF;
border: 1px dashed #FBA628;
border-radius: 8px;
}
.offer-row2{
  display: flex;
  width: 467px;
  height: 123px;
  background: #F6F7FF;
  border: 1px dashed #8988F7;
  border-radius: 8px;
  margin-top: 20px;
}
.offer-row3{
  display: flex;
  width: 467px;
  height: 123px;
  background: #F6FEFE;
  border: 1px dashed #16BCA9;
  border-radius: 8px;
  margin-top: 20px;
}
.row-title1, .row-title2, .row-title3{
  margin-bottom: 20px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 20px;
}
.row-title1{
  color: #FBA628;
}
.row-title2{
  color: #8988F7;
}
.row-title3{
  color: #16BCA9;
}
.row-subtitle{
  color: #909090;
}
.row-text{
  display: flex;
  flex-direction: column;
 justify-content: center;
}
.row-img{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 17px;
}
.photo-row{
  display: flex;
  flex-wrap: wrap;
  margin-top: 54px;
  margin-bottom: 74px;
}
.column-photo{
  display: flex;
  flex: 1 1 33%;
  justify-content: center;
}
.footer{
  height: 500px;
  background-image: url(img/image\ 24.png);
}
.row-footer{
  display: flex;
  margin-top: 102px;
}
.column-img{
  display: flex;
  flex: 1 1 50%;
  width: 251px;
  height: 135px;
}
.column-text{
  display: flex;
  flex-direction: column;
  flex: 1 1 16%;
}
.footer-label{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #98A2B3;
}
.footer-offer{
  display: flex;
  flex-direction: column;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #667085;
}
.footer-offer p {
  padding-top: 10px;
}
.footer-copyrights{
  display: flex;
  justify-content: flex-end;
  margin-top: 100px;
  padding-right: 50px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #98A2B3;
}